
@font-face{

	font-family: "adventpro";
	src : url("fonts/adventpro.ttf");
}


@font-face{

	font-family: "dmsans";
	src : url("fonts/novasans.ttf");
}












/*** GLOBAL STYLES ***/

:root{
	min-height: 100vh;
	min-width: fit-content;
	min-width: -moz-fit-content;
	overflow-y: hidden;
}


html,
body,
body > section{
  height: 100%;
  margin: 0;
  padding: 0;
}



/**{animation-timing-function:  steps(30) !important;transition-timing-function: steps(5);
	transition-timing-function: steps(30) !important;
}*/

.perf *{animation: none !important;transition: none !important;}


@keyframes animstart{
	0%{
		transform: rotateX(720deg) rotateY(720deg);
	}
	100%{
		transform: rotateX(0deg) rotateY(0deg);
	}
}

@-webkit-keyframes animstart{
	0%{
		transform: rotateX(720deg) rotateY(720deg);
	}
	100%{
		transform: rotateX(0deg) rotateY(0deg);
	}
}


@keyframes opac{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@-webkit-keyframes opac{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}



.screenpage{
	position: absolute;
	overflow-x: hidden;
	min-height: 100%;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transform: translateX(0px);
	transition: .2s opacity linear,.4s transform linear;
	opacity: 1;
	color: #f2f2f2;
	background: #03020d;
	transform-origin: bottom right;
}

.screenpageinner{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	height: 100%;
/*	width: 100%;*/
	align-self: flex-start;	
}






#page1{
	z-index: 10;
/*	display: none;*/
}

#page2{
	z-index: 9;
	overflow-y: auto !important;
/*	display: none;*/
}




#page2 .jumper{
	margin-top: .8rem !important;
}

#page3{
/*	display: none;*/
	z-index: 8;
}

#page3 .jumper{
	margin-top: 1rem !important;
}

#page4{
	z-index: 7;
}




body{
	overflow-x: hidden;
	overflow-y: hidden;

	margin: 0px;
	width: 100%;


	background-position: center;
	font-family: sans-serif; 
	background-size: cover;
	font-weight: lighter;
	font-weight: 100;
/*	scroll-behavior: smooth;*/

	height: 100vh;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	filter: invert(0%);
	transition: .5s filter;
}

body.nightmode{
	filter: invert(0%);
	transition: .5s filter;
}

body.daymode{
	filter: invert(100%);
	transition: .5s filter;
}

body.daymode article p img,body.daymode article figure img{
	filter: invert(100%);
	transition: .5s filter;
}



body > *{
	z-index: 1;
}

::selection{
	background-color: #266bf5;
	color: white;
}

a{
	text-decoration: none;
	color: white;
}

.hundred{
	display: flex;
    width: 100%;
    flex-wrap: wrap;
}

header{
	-webkit-animation: .5s opac;
	animation: .5s opac;
}

/*** SCROLLBAR RELATED  ***/

body::-webkit-scrollbar, html::-webkit-scrollbar {
    width: .6em;
    height: .6em;
}

body.daymode::-webkit-scrollbar{
	filter: invert(100%);
}



body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {

    background: #f2f3f2;
    border: .2rem solid #03020d;
	cursor: pointer;
	border-radius: .25rem;

    display: block;

}


body::-webkit-scrollbar-track, html::-webkit-scrollbar-track {
	background: #03020d;

}



/*** HEADER RELATED  ***/


header{
	z-index: 20;
	position: fixed;
	top:0px;
	padding-top: 2rem;
	width: 100%;
	font-family: "dmsans",system-ui,sans-serif;
}

header div{
	max-width: 80rem;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin: auto;

}

header h2{
	font-family: "dmsans";
	margin: 0px;
	margin-left: 2rem;
	letter-spacing: .1rem;
	font-size: 1.86rem;
/*	padding: 0px 1rem;*/
	line-height: 90%;
	color: #ccc;

}



header nav{
	margin-right: 2rem;
	display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    align-items: center;
}

header nav a{
	position: relative;
	margin: .4rem;
	text-decoration: none;
	color: white;
	font-size: 1.12rem;
}

header #accueilbutton{
	display: none;
}

header #changestyle{
	display: flex;
    align-items: center;
}

a img{
	height: 1.12rem;
}



header a img{
	animation: 1s animstart;
}












/*** MOUSE RELATED ***/

#mouse{
	opacity: 1;
	position: absolute;
	display: none ;
	top: 0px;
	left: 0px;
	transform: translateX(0px) translateY(0px);
	will-change: transform,opacity;
	z-index: 40;
	pointer-events: none;
}

#mouseimg{
	image-rendering: pixelated;
	width: 10vmin !important;
	height: 16vmin !important;
}




/*** MAIN RELATED ***/

@-webkit-keyframes blinking{
	0%{
		opacity: 1;

	}
	50%{
		opacity: 0;
	}
}


@keyframes blinking{
	0%{
		opacity: 1;

	}
	50%{
		opacity: 0;
	}
}








main,article{
	max-width: 1200px;
	margin: auto;
/*	margin-top: 0px;*/
	width: 85%;
	display: flex;
	flex-direction: column;
}

.title{
	font-family: "dmsans";
	font-size: 3.75rem;
	font-weight: 800;
	letter-spacing: .15rem;
	display: inline-block;
	margin-bottom: 0px;
/*	order: 1;*/
	
}

.title span,span.anim{
	-webkit-user-select: none;
	user-select: none;
	cursor: progress;
	-webkit-animation: 1s blinking infinite;
	animation: 1s blinking infinite;
	-webkit-animation-timing-function: steps(10);
	animation-timing-function: steps(10);
}


.desc{
	margin-top: 0px;
	color: #d0d0d5;
	font-family: "dmsans";
	font-size: 1.2rem;
	font-weight: 100;
	letter-spacing: .15rem;
	filter: drop-shadow(0px 0px 0px 1px white);
}


p.description{
	display: none;
	color: #ccc;
	font-family: "dmsans";
	letter-spacing: .05rem;
	font-size: 1rem;
/*	display: inline-block;*/

}

a.buttonlink{
	color: #ccc;
	padding: .1rem .41rem;
	margin: .25rem 0px;
	background-color: #39394d;
	border-radius: .4rem;
	line-height: 2.1;
/*	transition: .3s margin;*/
	display: inline-block;
}

a.buttonlink:hover{
	filter: brightness(1.2);
}



.jumper{
	position: relative;
	font-family: "adventpro";
	font-size: 1.4rem;
	display: inline-block;
	margin-top: 4.5rem;	
	color: #ccc;
	font-weight: 100;
	vertical-align: middle;
/*	-webkit-outline: 1px solid #888;*/
/*	outline: 1px solid #888;*/
	border: 1px solid #888;
	border-radius: 1rem;
	padding: .55rem 1rem;
	padding-right: 1rem;
	transition: .5s padding-right;
	box-shadow: 0px 0px 0px 0px white, 0px 0px white,0px 0px white;
	margin-right: .7rem;

}

.jumper span{
	z-index: 20;
	position: relative;
}

.jumper img{
	display: inline-block;
	transition: .5s all;
	transform: translateX(0rem);
	vertical-align: middle;
}

.jumper:hover{
	padding-right: 2rem;
	transition: .5s all;
	box-shadow: 1rem 1rem transparent,-1rem -1rem transparent;
}

.jumper:hover img{
	transform: translateX(1rem);
	transition: .5s transform;
}


.jumper:active img{
	transform: translateX(1rem) rotateY(360deg);
	transition: .5s transform;
}



/*REVERTED ONE*/


.jumper.reverted{
	padding-left: 1rem;
	transition: .5s padding-left;
}



.jumper.reverted span{
	z-index: 20;
	position: relative;
}

.jumper.reverted img{
	display: inline-block;
	transition: .5s all;
	transform: translateX(0rem) scaleX(-1);
}

.jumper.reverted:hover{
	padding-right: 1rem !important;
	padding-left: 2rem;
	transition: .5s all;
	box-shadow: 1rem 1rem transparent,-1rem -1rem transparent;
}

.jumper.reverted:hover img{
	transform:translateX(-1rem) scaleX(-1);
	transition: .5s transform;
}


.jumper.reverted:active img{
	transform:translateX(-1rem) scaleX(-1) rotateY(360deg);
	transition: .5s transform;
}


.jumperrotate img{
	display: inline-block;
	transition: .5s all;
	transform: translateX(0rem) rotate(90deg);
}


.jumperrotate:hover img{
	display: inline-block;
	transition: .5s all;
	transform: translateX(1rem) rotate(90deg);
}

.jumperrotate:active img{
	display: inline-block;
	transition: .5s all;
	transform: translateX(1rem) rotateX(360deg);
}




#smalllinks{
	margin-top: 5rem;
}

#smalllinks a{
	margin-right: 1rem;
}

#smalllinks img{
	height: 1.2rem;
}









/*** WHOAMI SECTION ***/

#whoami{
	font-family: "dmsans";
	min-height: 100vh;
	justify-content: center;
}

.redcolor{
	color: #f96d65;
}

.bluecolor{
	color: #5dfbf5;
}

.btscolor{
	color: #5dfbf5;
	font-size: 80%;
}

#whoami span{
	cursor: heart;
}

#projects ul li a{
	min-width: 33%;
	width: 23rem;
	max-width: 85vw;
/*	position: relative;*/
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
/*	width: rem;*/
/*	height: 3rem;*/

/*	border: 3px ridge #888;*/
	border-radius: .5rem;
	padding: .5rem;
	margin-bottom: .5rem !important;
/*	box-shadow: 0px 0px .1rem #aaa;*/
	border: 1px solid #333;
	transition: .5s transform;
	transform: scale(1);
	transform-origin: left;
}

#projects ul li a:hover{
	transition: .5s transform;
	transform: scale(1.1);
}

#projects ul a:hover span{
/*	display: inline-block !important;*/
}



#projects ul a{
	display: inline-block;
	font-size: 1.12rem;
	font-weight: 100 !important;
	font-family: "dmsans";
	color: #ccc;
}

#projects ul a img{
	width: 2.3rem;
	height: 2.3rem;
	overflow: hidden;
	border-radius: .81rem;
	border-radius: .8rem;
	border: 2px solid #ccc;
	image-rendering: pixelated;
}

body.daymode #projects ul img{
	filter: invert(100%);
}


#projects ul span{
	margin-right: auto;
	margin-left: .4rem;
	text-align: center;
}



#projects ul{
	width: 100%;
	display: flex;
	margin: 0px auto;
	flex-direction: column;
	align-items: flex-start;
/*	justify-content: center;
	justify-content: space-between;
	justify-content: space-around;
*/	padding-left: 0px;
	list-style-type: none;
}


#page4 ul{
		color: #777;
		padding-left: 0px;
/*		margin: auto;*/
}


#page4 a.desc{
	color: turquoise;
	margin-bottom: .5rem;
/*	text-decoration: underline;*/
	font-size: 95%;
}

#page4 .hundred{
	margin-top: 3rem;
}

.hundred{
	justify-content: center;
}

#page1 .hundred{
	justify-content: flex-start;
}